{% extends 'base.html' %}


{% block content %}
    <div class="hero is-fullheight-with-navbar">
      {% if not user.is_authenticated %}
        <div class="notification is-primary is-light has-text-centered">
          <h1>Please log in or register to create a pattern</h1>
        </div>
      {% else %}
        <div class="hero-body is-justify-content-center is-align-items-center border">
            <form action="{% url 'edit-pattern' pattern.id %}" method="post">
                {% csrf_token %}
                <div class="columns is-flex is-flex-direction-column box">
                    <div class="has-text-centered">
                        <h3 class="is-size-4 has-text-weight-medium">Edit pattern</h3>
                    </div>

                    <div class="column has-text-danger has-text-centered">
                        {% if messages %}
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="column">
                        <label for="pattern-name">Pattern name</label>
                        <input class="input is-primary" type="text"
                               name="title" id="pattern-name" value="{{ pattern.title }}">
                    </div>

                    <div class="column">
                        <label for="pattern-description">Pattern description</label>
                        <textarea class="textarea is-primary" name="description"
                                  id="pattern-description">{{ pattern.description }}</textarea>
                    </div>

                    <div class="column">
                      <label for="current-image">Current image</label>
                      <figure class="image" id="current-image">
                        <img src={{ pattern.image }}>
                      </figure>
                    </div>

                    <div class="column">
                        <label for="pattern-image">Change image</label>
                        <input class="input is-primary" type="file"
                               name="image" id="pattern-image">
                    </div>
                    <div class="column">
                        <label for="pattern-skill-level">Skill level</label>
                        <select class="input is-primary" name="skill_level"id="pattern-skill-level">
                            {% for skill in skill_level_options %}
                              {% if skill.value == pattern.skill_level %}
                                <option value="{{ skill.value }}" selected>{{ skill.text }}</option>
                              {% else %}
                                <option value="{{ skill.value }}">{{ skill.text }}</option>
                              {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <div class="column">
                        <label for="pattern-region">Region</label>
                        <select class="input is-primary" name="region" id="pattern-region">
                            {% for region in region_options %}
                              {% if region.value == pattern.region %}
                                <option value="{{ region.value }}" selected>{{ region.text }}</option>
                              {% else %}
                                <option value="{{ region.value }}">{{ region.text }}</option>
                              {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <div class="column">
                      <label for="pattern-yarn-weight">Yarn weight</label>
                      <input class="input is-primary" type="text" name="yarn_weight"
                             id="pattern-yarn-weight" value="{{ pattern.yarn_weight }}">
                    </div>

                    <div class="column">
                      <label for="pattern-hook-size">Hook size</label>
                      <input class="input is-primary" type="text" name="hook_size"
                             id="pattern-hook-size" value="{{ pattern.hook_size }}">
                    </div>

                    <div class="column">
                      <label for="pattern-gauge">Guage</label>
                      <input class="input is-primary" type="text" name="gauge"
                             id="pattern-gauge" value="{{ pattern.gauge }}">
                    </div>

                    <div class="column">
                      <label for="pattern-pattern-steps">Pattern steps</label>
                      <textarea class="textarea is-primary"
                                name="pattern" id="pattern-pattern-steps">{{ pattern.pattern }}
                      </textarea>
                      <p class="help">This needs to describe what actually goes here...</p>
                    </div>

                    <div class="column">
                        <button class="button is-primary is-fullwidth" type="submit">Save pattern</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% endif %}

{% endblock %}
