{% extends 'base.html'%} {% block content %}

<div class="container is-max-desktop">
  <section class="section">
    <div class="container">
      <div class="columns">
        <!-- Left section - Image -->
        <div class="column is-half">
          <figure class="image is-4by3">
            <img src={{ pattern.image }} image" />
          </figure>
        </div>

        <!-- Right section - Rows -->
        <div class="column is-half">
          <!-- Title -->
          <h1 class="title">{{ pattern.title }}</h1>

          <!-- Author and Rating -->
          <div class="level">
            <div class="level-left">
              <div class="level-item">
                <div>
                  <a href="#" class="subtitle is-5">{{ pattern.author }}</a>
                </div>
              </div>
            </div>
            <div class="level-right">
              <div class="level-item">
                <div>
                  <p class="subtitle is-5">Rating: 4.5</p>
                </div>
              </div>
            </div>
          </div>

          <!-- Description -->
          <div class="field media">
            <div class="media-content">
              <p>
                {{ pattern.description }} {{ pattern.description }} {{
                pattern.description }} {{ pattern.description }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Bullet Points Section -->
  <section class="section">
    <div class="container">
      <div class="columns is-multiline">
        <div class="column is-one-fifth">
          <div class="content has-text-centered">
            <h3 class="title is-4">Skill Level</h3>
            <p class="subtitle is-5">{{ pattern.skill_level }}</p>
          </div>
        </div>

        <div class="column is-one-fifth">
          <div class="content has-text-centered">
            <h3 class="title is-4">Yarn Weight</h3>
            <p class="subtitle is-5">{{ pattern.yarn_weight }}</p>
          </div>
        </div>

        <div class="column is-one-fifth">
          <div class="content has-text-centered">
            <h3 class="title is-4">Gauge</h3>
            <p class="subtitle is-5">{{ pattern.gauge }}</p>
          </div>
        </div>

        <div class="column is-one-fifth">
          <div class="content has-text-centered">
            <h3 class="title is-4">Hook Size</h3>
            <p class="subtitle is-5">{{ pattern.hook_size }}</p>
          </div>
        </div>

        <div class="column is-one-fifth">
          <div class="content has-text-centered">
            <h3 class="title is-4">Region</h3>
            <p class="subtitle is-5">{{ pattern.region }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="field media">
      <div class="media-content">
        <div class="my-6 pt-4 mx-6">
          <h3 class="title is-4">Pattern steps</h3>
          <p>
            {{ pattern.pattern|safe }}
          </p>
        </div>
      </div>
    </div>
  </section>
</div>

<style>
  .scrollable-text {
    height: 150px;
    overflow-y: auto;
    padding: 0.5rem;
    border: 1px solid #dbdbdb;
  }
</style>

{% endblock content %}
